.input-section {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.input-wrapper input {
  padding-right: 120px;
}

.input-wrapper button {
  position: absolute;
  right: 5px;
  top: 5px;
  height: calc(100% - 10px);
  width: auto;
  padding: 0 1rem;
  border-radius: 0.375rem;
}

@media (max-width: 640px) {
  .input-wrapper button {
    position: static;
    width: 100%;
    margin-top: 0.5rem;
    height: 40px;
  }
  
  .input-wrapper input {
    padding-right: 1.2em;
  }
}
